<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lista de Viajantes</title>
</head>

<body>
    <div class="container-fluid text-center">
        <h2>Lista de Viajantes</h2>
        <a class="h2" th:href="@{/users}">Lista de Viajantes</a>
    </div>
</body>

</html>